### SQL import 전, 원본 데이터 정리 및 병합
### Data merging before SQL import

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

fTrain = pd.read_csv('data/FraudTrain.csv')
fTest = pd.read_csv('data/FraudTest.csv')


fTrain.info()   #  Train 정보 탐색

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 22 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1048575 non-null  object
 1   cc_num                 1048575 non-null  float64
 2   merchant               1048575 non-null  object
 3   category               1048575 non-null  object
 4   amt                    1048575 non-null  float64
 5   first                  1048575 non-null  object
 6   last                   1048575 non-null  object
 7   gender                 1048575 non-null  object
 8   street                 1048575 non-null  object
 9   city                   1048575 non-null  object
 10  state                  1048575 non-null  object
 11  zip                    1048575 non-null  int64
 12  lat                    1048575 non-null  float64
 13  long                   1048575 non-null  float64
 14  city_pop               1048575 non-null  int64
 15  job                    1048575 non-null  object
 16  dob                    1048575 non-null  object
 17  trans_num              1048575 non-null  object
 18  unix_time              1048575 non-null  int64
 19  merch_lat              1048575 non-null  float64
 20  merch_long             1048575 non-null  float64
 21  is_fraud               1048575 non-null  int64
dtypes: float64(6), int64(4), object(12)
memory usage: 176.0+ MB

In [13]:
fTest.info()   # Test 정보 탐색 -> Unnamed: 0  이라는 추가 컬럼 발견

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB

In [14]:
fTest.head(5)  # Unnamed: 0  칼럼 생김새 파악 -> index 역할

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [15]:
fTD = fTest.drop(columns='Unnamed: 0')  # 불필요 index 컬럼 삭제 후 확인
fTD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  555719 non-null  object
 1   cc_num                 555719 non-null  int64
 2   merchant               555719 non-null  object
 3   category               555719 non-null  object
 4   amt                    555719 non-null  float64
 5   first                  555719 non-null  object
 6   last                   555719 non-null  object
 7   gender                 555719 non-null  object
 8   street                 555719 non-null  object
 9   city                   555719 non-null  object
 10  state                  555719 non-null  object
 11  zip                    555719 non-null  int64
 12  lat                    555719 non-null  float64
 13  long                   555719 non-null  float64
 14  city_pop               555719 non-null  int64
 15  job                    555719 non-null  object
 16  dob                    555719 non-null  object
 17  trans_num              555719 non-null  object
 18  unix_time              555719 non-null  int64
 19  merch_lat              555719 non-null  float64
 20  merch_long             555719 non-null  float64
 21  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 93.3+ MB

In [16]:
fDetection = pd.concat([fTrain, fTD], axis=0, join='inner') # 데이터 합치기
fDetection.info() # 데이터 수 조회 (1604294 도출 여부 확인)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1604294 entries, 0 to 555718
Data columns (total 22 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1604294 non-null  object
 1   cc_num                 1604294 non-null  float64
 2   merchant               1604294 non-null  object
 3   category               1604294 non-null  object
 4   amt                    1604294 non-null  float64
 5   first                  1604294 non-null  object
 6   last                   1604294 non-null  object
 7   gender                 1604294 non-null  object
 8   street                 1604294 non-null  object
 9   city                   1604294 non-null  object
 10  state                  1604294 non-null  object
 11  zip                    1604294 non-null  int64
 12  lat                    1604294 non-null  float64
 13  long                   1604294 non-null  float64
 14  city_pop               1604294 non-null  int64
 15  job                    1604294 non-null  object
 16  dob                    1604294 non-null  object
 17  trans_num              1604294 non-null  object
 18  unix_time              1604294 non-null  int64
 19  merch_lat              1604294 non-null  float64
 20  merch_long             1604294 non-null  float64
 21  is_fraud               1604294 non-null  int64
dtypes: float64(6), int64(4), object(12)
memory usage: 281.5+ MB

In [17]:
fDetection.to_csv('data/Fraud_Detection.csv', index=False)  # 병합 데이터 저장 (index 생성 방지)

In [18]:
fD = pd.read_csv('data/Fraud_Detection.csv', index_col = 0)  
fD.info()   # 병합 데이터 로드 및 조회

<class 'pandas.core.frame.DataFrame'>
Index: 1604294 entries, 1/1/2019 0:00 to 2020-12-31 23:59:34
Data columns (total 21 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   cc_num      1604294 non-null  float64
 1   merchant    1604294 non-null  object
 2   category    1604294 non-null  object
 3   amt         1604294 non-null  float64
 4   first       1604294 non-null  object
 5   last        1604294 non-null  object
 6   gender      1604294 non-null  object
 7   street      1604294 non-null  object
 8   city        1604294 non-null  object
 9   state       1604294 non-null  object
 10  zip         1604294 non-null  int64
 11  lat         1604294 non-null  float64
 12  long        1604294 non-null  float64
 13  city_pop    1604294 non-null  int64
 14  job         1604294 non-null  object
 15  dob         1604294 non-null  object
 16  trans_num   1604294 non-null  object
 17  unix_time   1604294 non-null  int64
 18  merch_lat   1604294 non-null  float64
 19  merch_long  1604294 non-null  float64
 20  is_fraud    1604294 non-null  int64
dtypes: float64(6), int64(4), object(11)
memory usage: 269.3+ MB

In [19]:
fD.isnull().sum()  # 결측치 여부 확인

cc_num        0
merchant      0
category      0
amt           0
first         0
last          0
gender        0
street        0
city          0
state         0
zip           0
lat           0
long          0
city_pop      0
job           0
dob           0
trans_num     0
unix_time     0
merch_lat     0
merch_long    0
is_fraud      0
dtype: int64

In [20]:
fD.head(5)  # 생김새 파악

,cc_num,merchant,category,amt,first,last,gender,street,city,state,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
trans_date_trans_time,,,,,,,,,,,,,,,,,,,,,
1/1/2019 0:00,2.703190e+15,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,NC,...,36.0788,-81.1781,3495,"Psychologist, counselling",3/9/1988,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1/1/2019 0:00,6.304230e+11,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,...,48.8878,-118.2105,149,Special educational needs teacher,6/21/1978,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1/1/2019 0:00,3.885950e+13,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,ID,...,42.1808,-112.2620,4154,Nature conservation officer,1/19/1962,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
1/1/2019 0:01,3.534090e+15,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,MT,...,46.2306,-112.1138,1939,Patent attorney,1/12/1967,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
1/1/2019 0:03,3.755340e+14,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,VA,...,38.4207,-79.4629,99,Dance movement psychotherapist,3/28/1986,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [34]:
fD.iloc[[1048680]]   # date type이 다른 컬럼 조회 (sql 작업 참고용)

,cc_num,merchant,category,amt,first,last,gender,street,city,state,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
trans_date_trans_time,,,,,,,,,,,,,,,,,,,,,
2020-06-21 12:46:50,4.119763e+15,fraud_Breitenberg-Hermiston,kids_pets,29.39,Melinda,Gutierrez,F,1497 West Gateway,Eureka,IL,...,40.7152,-89.2706,6713,Archivist,1945-08-19,4924a7f67664a95acbeaeb377d5e6a83,1371818810,41.415532,-89.517881,0

# 여기서부터는 SQL 작업 후 시행하는 코드입니다. (code after sql query)
## SQL작업 데이터 호출 및 저장
## Data load from SQL works and export file from pandas

In [37]:
pip install cx_Oracle # 패키지 설치

Collecting cx_Oracle
  Downloading cx_Oracle-8.3.0.tar.gz (363 kB)
     ---------------------------------------- 0.0/363.9 kB ? eta -:--:--
     ------------------------------------- 363.9/363.9 kB 11.4 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: cx_Oracle
  Building wheel for cx_Oracle (pyproject.toml): started
  Building wheel for cx_Oracle (pyproject.toml): finished with status 'done'
  Created wheel for cx_Oracle: filename=cx_Oracle-8.3.0-cp311-cp311-win_amd64.whl size=224105 sha256=280f82df73fb3e0c8363de2db588068358367c9c26c23ecc098cd3bb0454ec3e
  Stored in directory: c:\users\seward_shin\appdata\local\pip\cache\wheels\e0\41\f9\63e9c4d1ec7b2e8faffc1d6f3219c2e168c306b042d77e2b6f
Successfully built cx_Oracle
Installing collected packages: cx_Oracle
Successfully installed cx_Oracle-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [41]:
import cx_Oracle as oci  # python 3.4기준으로 data import하는 방법

#C:\oraclexe\app\oracle\product\11.2.0\server\network\ADMIN 에 가서 tnsname.ora에 port값(1521), service name(xe) 조회
user = "DB"
pw = "1234 "
dsn = "localhost:1521/xe" 


# 연결
con = oci.connect(user=user, password=pw, dsn=dsn)

# 커서
cur = con.cursor()


query = 'select * from FD'
df = pd.read_sql_query(query, con)
df

C:\Users\Seward_Shin\AppData\Local\Temp\ipykernel_26516\4251490502.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, con)

,TRANS_NUM,TRANS_DATE_TRANS_TIME,CATEGORY,AMT,GENDER,CITY,STATE,CITY_POP,JOB,DOB,IS_FRAUD
0,0b242abb623afc578575680df30655b9,01/01/2019 00:00,misc_net,4.97,F,Moravian Falls,NC,3495,"Psychologist, counselling",03/09/1988,0
1,1f76529f8574734946361c461b024d99,01/01/2019 00:00,grocery_pos,107.23,F,Orient,WA,149,Special educational needs teacher,06/21/1978,0
2,a1a22d70485983eac12b5b88dad1cf95,01/01/2019 00:00,entertainment,220.11,M,Malad City,ID,4154,Nature conservation officer,01/19/1962,0
3,6b849c168bdad6f867558c3793159a81,01/01/2019 00:01,gas_transport,45.00,M,Boulder,MT,1939,Patent attorney,01/12/1967,0
4,a41d7549acf90789359a9aa5346dcb46,01/01/2019 00:03,misc_pos,41.96,M,Doe Hill,VA,99,Dance movement psychotherapist,03/28/1986,0
...,...,...,...,...,...,...,...,...,...,...,...
1604289,9b1f753c79894c9f4b71f04581835ada,12/31/2020 23:59,health_fitness,43.77,M,Luray,MO,519,Town planner,02/13/1966,0
1604290,2090647dac2c89a1d86c514c427f5b91,12/31/2020 23:59,kids_pets,111.84,M,Lake Jackson,TX,28739,Futures trader,12/27/1999,0
1604291,6c5b7c8add471975aa0fec023b2e8408,12/31/2020 23:59,kids_pets,86.88,F,Burbank,WA,3684,Musician,11/29/1981,0
1604292,14392d723bb7737606b2700ac791b7aa,12/31/2020 23:59,travel,7.99,M,Mesa,ID,129,Cartographer,12/15/1965,0
1604293,1765bb45b3aa3224b4cdcb6e7a96cee3,12/31/2020 23:59,entertainment,38.13,M,Edmond,OK,116001,Media buyer,05/10/1993,0

In [42]:
df.to_csv('data/Fraud_Detection_sql.csv', index=False)  # SQL 작업된 데이터 저장 (index 생성 방지 옵션 설정)

In [46]:
fDs = pd.read_csv('data/Fraud_Detection_sql.csv', index_col = 0)  #index_col = 0으로 trans_num 고유값(index) 자동 drop
fDs.info()   # 병합 데이터 로드 및 조회

<class 'pandas.core.frame.DataFrame'>
Index: 1604294 entries, 0b242abb623afc578575680df30655b9 to 1765bb45b3aa3224b4cdcb6e7a96cee3
Data columns (total 10 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   TRANS_DATE_TRANS_TIME  1604294 non-null  object
 1   CATEGORY               1604294 non-null  object
 2   AMT                    1604294 non-null  float64
 3   GENDER                 1604294 non-null  object
 4   CITY                   1604294 non-null  object
 5   STATE                  1604294 non-null  object
 6   CITY_POP               1604294 non-null  int64
 7   JOB                    1604294 non-null  object
 8   DOB                    1604294 non-null  object
 9   IS_FRAUD               1604294 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 134.6+ MB

In [44]:
fDs.isnull().sum()  # 결측치 여부 확인

TRANS_DATE_TRANS_TIME    0
CATEGORY                 0
AMT                      0
GENDER                   0
CITY                     0
STATE                    0
CITY_POP                 0
JOB                      0
DOB                      0
IS_FRAUD                 0
dtype: int64